<div id="<%= dom_id product %>">
 <div class="text-center">
    <p>
      <strong>Name:</strong>
      <%= product.name %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= product.price %>
    </p>

    <p>
      <strong>Stock quantity:</strong>
      <%= product.stock_quantity %>
    </p>
  </div>
</div>
